{% extends "partials/layout.njk" %}
{% block title %}Login{% endblock %}
{% block content %}
  {% if errors %}
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
        <div class="alert alert-danger" role="alert">
         A simple danger alert—check it out!
</div>
      {% endfor %}
    </ul>
  {% endif %}
 
  <form action="/login" method="POST">
 <div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email" placeholder="Email "name="email">
</div>
<div class="mb-3">
  <label for="password" class="form-label">Password</label>
  <input type="password" class="form-control" id="password" placeholder="Password" name="Password">
</div>
    <input class="btn btn-primary" type="submit" value="Login">
  </form>
{% endblock %}