   {% extends "partials/layout.njk" %}
   {% block title %}home{% endblock %}
   {% block content %}
    <form action="/movies/edit/{{movie.id}}" method="POST">
        <input type="text" placeholder="movie name" name="movie" value="{{movie.name}}">
        <input type="number" placeholder="movie year" name="year">
        <textarea name="description" placeholder="movie description" > {{movie.description}} </textarea>
        <input type="submit" value="Add">
    </form>
   {% endblock %}